body {

}
#buttonsSide{
    float:right;
}
#cards{
    width:80%;
    height:60%;
}
Image{

}
.imageStyle
{
   height:auto;
   width:20%;
   margin: 0px;
   padding: 0px;
}
.arrowStyle
{
   height:auto;
   width:5%;
   margin: 0px;
   padding: 0px;
}

