
#buttonsSide{
    float:right;
}

#container{
    padding-top:60px;
    position:relative;
    width:100%;
}

#cards{
    position:absolute;
    top:100%;
    left:10%;
    width:80%;
    height:auto;
    margin:0px;
}

#deckDetails{
    clear:both;
    padding-bottom:5%;
}

#currentDeck{
    position:absolute;
    left:200%;
}

#anotherContainer{
    float:right;
}

.Hidden{
    display:none;
}

.imageStyle
{
   height:auto;
   width:20%;
   margin: 0px;
   padding: 0px;
}
.arrowStyleLeft
{
    position:absolute;
    top:48%;
    left:-6%;
    height:auto;
    width:5%;
}
.arrowStyleRight
{    
    position:absolute;
    left:80%;
    top:48%;
    height:auto;
    width:5%;

}



