<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=2.2.15.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=2.2.15.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    <buildProviders><add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" /></buildProviders></compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
<connectionStrings>
  <add name="connString" connectionString="Data Source=db-H3408.vm; Database=mydb; User ID=DotnetHarkka; Password=dotnet; Allow User Variables=True" />
</connectionStrings>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>
</configuration>